In [ ]:
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install seaborn
! pip install scipy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.22.4)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.10.1)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.22.4)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv(r"/content/womissing_mice_area.csv",low_memory=False)

In [ ]:
msgdata=pd.read_csv(r"/content/missing_mice_area.csv",low_memory=False)

In [ ]:
msgdata.loc[msgdata['YEILD/AREA'].isna()]

,Tehsil_name,ST1,STATE_TEHSIL_CODES,Crop,Year,Tehsil_Cultivator,Tehsil,Cultivator,Parcel_Plot_Season__PPS_,Parcel,...,rainfall_in_season,K_R_S,Address,Lattitude,Longitude,Date,Lattitude..167,longitude,rainfall,Area
8050,Fatehpur,Uttar Pradesh,UP_48,Paddy,2004-05,482,48,2,1011,1,...,NaN,Kharif,"Fatehpur, Uttar Pradesh",29.089167,81.350225,NaN,NaN,NaN,NaN,0.000000
8053,Barhaj,Uttar Pradesh,UP_55,Paddy,2004-05,555,55,5,3032,3,...,NaN,Rabi,"Barhaj, Uttar Pradesh",27.267500,86.214444,NaN,NaN,NaN,NaN,0.000000
8072,Jahanabad,Bihar,BR_37,Paddy,2006-07,372,37,2,1011,1,...,NaN,Kharif,"Jahanabad, Bihar",25.944167,88.382222,NaN,NaN,NaN,NaN,0.000000
8084,Patiyali,Uttar Pradesh,UP_31,Bajra,2008-09,318,31,8,1021,1,...,NaN,Kharif,"Patiyali, Uttar Pradesh",30.042778,82.426389,NaN,NaN,NaN,NaN,0.000000
8097,Banka Sadar,Bihar,BR_45,Paddy,2002-03,458,45,8,10011,10,...,NaN,Kharif,"Banka Sadar, Bihar",27.931667,90.071667,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,Numali-garh,Assam,AS_17,Paddy,2004-05,176,17,6,1012,1,...,NaN,Rabi,"Numali-garh, Assam",28.601389,96.312778,20000101.0,28.75,96.5,0.0,100.691671
29925,Numali-garh,Assam,AS_17,Paddy,2008-09,178,17,8,1012,1,...,NaN,Rabi,"Numali-garh, Assam",28.601389,96.312778,20000101.0,28.75,96.5,0.0,100.691671
29995,Dhemaji,Assam,AS_1,Paddy,2007-08,18,1,8,4012,4,...,NaN,Rabi,"Dhemaji, Assam",29.136389,96.464722,20000101.0,29.25,96.5,0.0,100.835572
29996,Dhemaji,Assam,AS_1,Paddy,2001-02,12,1,2,1012,1,...,NaN,Rabi,"Dhemaji, Assam",29.136389,96.464722,20000101.0,29.25,96.5,0.0,100.835572
29997,Dhemaji,Assam,AS_1,Paddy,2007-08,10,1,0,4011,4,...,NaN,Kharif,"Dhemaji, Assam",29.136389,96.464722,20000101.0,29.25,96.5,0.0,100.835572

In [ ]:
data.shape

(30000, 113)

In [ ]:
for col in data.columns:
   print(col)

Tehsil_name
ST1
STATE_TEHSIL_CODES
Crop
Year
Tehsil_Cultivator
Tehsil
Cultivator
Parcel_Plot_Season__PPS_
Parcel
Plot
Season
helper
Main_Product__Qtls__
Crop_Area__Ha__
Main_Product__Rs__
By_Product__Rs__
Family_Labour__Hrs__
Family_Labour__Rs__
Attached_Labour__Hrs__
Attached_Labour__Rs__
Casual_Labour__Hrs__
Casual_Labour__Rs__
Hired_Animal_Labour__Hrs__
Hired_Animal_Labour__Rs__
Owned_Animal_Labour__Hrs__
Owned_Animal_Labour__Rs__
Total_Machine__Hrs__
Hired_Machine__Hrs__
Hired_Machine__Rs__
Own_Machine__Hrs__
Own_Machine__Rs__
Seed_Qty___Kg__
Seed_Value__Rs__
Fertiliser__N___Kg__
Fertiliser__N___Rs__
Fertiliser__P___Kg__
Fertiliser__P___Rs__
Fertiliser__K___Kg__
Fertiliser__K___Rs__
Other_Fertiliser__Kg__
Other_Fertiliser__Rs__
Total_Fertiliser__Kg__
Total_Fertiliser__Rs__
Zone_Code
Tehsil_Code
Size_Group
Manure__Qtl__
Manure__Rs__
Insecticides__Rs__
YEILD/AREA
Total_Irrigation_Machine_Hrs__
Own_Irrigation_Machine__Hrs__
Own_Irrigation_Machine__Rs__
Hired_Irrigation_Machine__Hrs__
Hired_Irrigation_Machine__Rs__
Miscelaneous_Cost__Rs__
Land_Revenue__Rs__
Rent_Paid_for_Leased_in_Land__Rs__
Imputed_Rent__Rs__
Total_Depreciation__Rs__
Total_Capital__Rs__
Sample_Size_Group__No__of_Growers
Area_of_Selected_Crops_in_Village__Ha__
No__of_Villages_in_Tehsil
Total_Number_of_Growers_in_the_Cluster_Tehsil
Cluster_Factor_Weight
Area_of_Crop_in_Zone__Ha__
Production_of_Crop_in_Zone__Qtl__
No__of_Tehsils_in_Zone
Sample_Tehsils_in_Zone
Area_of_Selected_Crop_in_Zone__Ha__
Minimum_Rent__age_of_Production
Maximum_Rent__age_of_Production
Sample_Zone_in_State
Sample_Clusters_in_State
Tenure
Variety
Canal_and_Other_Irrigation_Charges__Rs__
X.x
V77
FREQ
originalplotno
ActualPPS
year_proxy
joiner_for_teh_dist
District
RAINFALL_JOINER
January
February
March
April
May
June
July
August
September
October
November
December
ICRA_season_joiner
sowing_month_proxy
harvesting_month_proxy
rainfall_in_season
K_R_S
Address
Lattitude
Longitude
Date
Lattitude..167
longitude
rainfall
Area

In [ ]:
#no missing value
df= data.drop(data.index[0:8258])
df =df[['YEILD/AREA','Area','Season','Crop']]
df =df.loc[df['Crop'] == 'Paddy']
df.head()

        YEILD/AREA       Area  Season   Crop
8258     27.575758  76.697458     1.0  Paddy
8259     28.484848  76.697458     1.0  Paddy
8260     22.083333  76.697458     1.0  Paddy
8261  12605.000000  76.697458     1.0  Paddy
8263  20200.000000  76.697458     1.0  Paddy

import numpy as np
from google.colab import autoviz
df_1341637990520504325 = autoviz.get_registered_df('df_1341637990520504325')

def value_plot(df, y, sort_ascending=False, figsize=(2, 1)):
  from matplotlib import pyplot as plt
  if sort_ascending:
    df = df.sort_values(y).reset_index(drop=True)
  _, ax = plt.subplots(figsize=figsize)
  df[y].plot(kind='line')
  plt.title(y)
  ax.spines[['top', 'right',]].set_visible(False)
  plt.tight_layout()
  return autoviz.MplChart.from_current_mpl_state()

chart = value_plot(df_1341637990520504325, *['YEILD/AREA'], **{})
chart

import numpy as np
from google.colab import autoviz
df_5847161123263792438 = autoviz.get_registered_df('df_5847161123263792438')

def histogram(df, colname, num_bins=20, figsize=(2, 1)):
  from matplotlib import pyplot as plt
  _, ax = plt.subplots(figsize=figsize)
  plt.hist(df[colname], bins=num_bins, histtype='stepfilled')
  plt.ylabel('count')
  plt.title(colname)
  ax.spines[['top', 'right',]].set_visible(False)
  plt.tight_layout()
  return autoviz.MplChart.from_current_mpl_state()

chart = histogram(df_5847161123263792438, *['YEILD/AREA'], **{})
chart

MICE

In [ ]:
#creating dataset for MICE
MICEdf = msgdata.drop(data.index[0:8258])
MICEdf =MICEdf[['YEILD/AREA','Area','Season','Crop']]

In [ ]:
MICEdf[['YEILD/AREA','Area','Season','Crop']] = MICEdf[['YEILD/AREA','Area','Season','Crop']].astype('category')

In [ ]:
MICEdf =MICEdf.loc[MICEdf['Crop'] == 'Paddy']

In [ ]:
#missing dataset
MICEdf.loc[MICEdf['YEILD/AREA'].isna()]

      YEILD/AREA        Area Season   Crop
8259         NaN   76.697458      1  Paddy
8272         NaN   76.697458      1  Paddy
8288         NaN   76.697458      1  Paddy
8305         NaN   76.697458      1  Paddy
8335         NaN   77.129761      1  Paddy
...          ...         ...    ...    ...
29924        NaN  100.691671      2  Paddy
29925        NaN  100.691671      2  Paddy
29995        NaN  100.835572      2  Paddy
29996        NaN  100.835572      2  Paddy
29997        NaN  100.835572      1  Paddy

[911 rows x 4 columns]

In [ ]:
!pip install miceforest --no-cache-dir

Requirement already satisfied: miceforest in /usr/local/lib/python3.10/dist-packages (5.6.3)
Requirement already satisfied: lightgbm>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from miceforest) (3.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from miceforest) (1.22.4)
Requirement already satisfied: blosc in /usr/local/lib/python3.10/dist-packages (from miceforest) (1.11.1)
Requirement already satisfied: dill in /usr/local/lib/python3.10/dist-packages (from miceforest) (0.3.6)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (0.40.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (1.10.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest) (3.1.0)

In [ ]:
!pip install git+https://github.com/AnotherSamWilson/miceforest.git

Collecting git+https://github.com/AnotherSamWilson/miceforest.git
  Cloning https://github.com/AnotherSamWilson/miceforest.git to /tmp/pip-req-build-m763y4hp
  Running command git clone --filter=blob:none --quiet https://github.com/AnotherSamWilson/miceforest.git /tmp/pip-req-build-m763y4hp
  Resolved https://github.com/AnotherSamWilson/miceforest.git to commit d9359a89204e3b5f10cc02e7e621a22c213e5453
  Preparing metadata (setup.py) ... done
Requirement already satisfied: lightgbm>=3.3.1 in /usr/local/lib/python3.10/dist-packages (from miceforest==5.6.3) (3.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from miceforest==5.6.3) (1.22.4)
Requirement already satisfied: blosc in /usr/local/lib/python3.10/dist-packages (from miceforest==5.6.3) (1.11.1)
Requirement already satisfied: dill in /usr/local/lib/python3.10/dist-packages (from miceforest==5.6.3) (0.3.6)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest==5.6.3) (0.40.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest==5.6.3) (1.10.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /usr/local/lib/python3.10/dist-packages (from lightgbm>=3.3.1->miceforest==5.6.3) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest==5.6.3) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn!=0.22.0->lightgbm>=3.3.1->miceforest==5.6.3) (3.1.0)

In [ ]:
import miceforest as mf

In [ ]:
# Create kernel.
kds = mf.ImputationKernel( MICEdf, save_all_iterations=True,  random_state=100)

# Run the MICE algorithm for 2 iterations
kds.mice(2)

# Return the completed dataset.
df_imputed = kds.complete_data()

In [ ]:
MICEdf.head()

In [ ]:
df_imputed.head()

        YEILD/AREA       Area  Season  Crop_Paddy
8258     27.575758  76.697458       1           1
8259     22.083333  76.697458       1           1
8260     22.083333  76.697458       1           1
8261  12605.000000  76.697458       1           1
8262      0.000000  76.697458       1           1

In [ ]:
#increasing iteration
kds.mice(iterations=5, n_estimators=50)

In [ ]:
df_imputed2 = kds.complete_data()
df_imputed2.loc[df_imputed2['YEILD/AREA'].isna()]

Empty DataFrame
Columns: [YEILD/AREA, Area, Season, Crop_Paddy]
Index: []

In [ ]:
df.loc[df['YEILD/AREA'].isna()]

Empty DataFrame
Columns: [YEILD/AREA, Area, Season, Crop]
Index: []

In [ ]:
extracted_col = df["YEILD/AREA"]
extracted_col

8258        27.575758
8259        28.484848
8260        22.083333
8261     12605.000000
8262         0.000000
             ...
29995       40.000000
29996       23.703704
29997       24.000000
29998       25.970149
29999       17.761194
Name: YEILD/AREA, Length: 21742, dtype: float64

In [ ]:
df_imputed2.insert(1, "org_Y/A", extracted_col)
display(df_imputed2)

         YEILD/AREA       org_Y/A        Area  Season  Crop_Paddy
8258      27.575758     27.575758   76.697458       1           1
8259       0.000000     28.484848   76.697458       1           1
8260      22.083333     22.083333   76.697458       1           1
8261   12605.000000  12605.000000   76.697458       1           1
8262       0.000000      0.000000   76.697458       1           1
...             ...           ...         ...     ...         ...
29995     26.168224     40.000000  100.835572       2           1
29996     25.000000     23.703704  100.835572       2           1
29997     26.168224     24.000000  100.835572       1           1
29998     25.970149     25.970149  100.835572       2           1
29999     17.761194     17.761194  100.835572       2           1

[21742 rows x 5 columns]

In [ ]:
Array1 =df_imputed2["YEILD/AREA"].to_numpy()
Array2 = df_imputed2["org_Y/A"].to_numpy()

In [ ]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(Array1, Array2)
meanSqErr = metrics.mean_squared_error(Array1, Array2)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(Array1, Array2))

#print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

Mean Absolute Error: 36.31848254346495
Mean Square Error: 442958.4865940915
Root Mean Square Error: 665.551265188559

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error
error = mean_absolute_percentage_error(Array1, Array2)
print(' %Error:', error)

 %Error: 2.3992110508685428e+16